---
layout: default
use:
    - posts
---

{% block content %}

    {% for post in data.posts %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>
                            {#<a href="{{ post.url }}">{{ post.title }}</a>#}
                            {{ post.title }}
                        </h2>

                        <p>
                            <em class="fa fa-calendar fa-fw"></em>
                            <time datetime="{{ post.date | date('Y-m-D') }}">{{ post.date | date("j. n. Y") }}</time>
                            |
                            <a href="{{ post.podcast.mp3_url }}">
                                <em class="fa fa-download fa-fw"></em>
                                Stáhnout
                            </a>
                            |
                            <em class="fa fa-deaf fa-fw"></em>
                            {{ post.podcast.mp3_duration }}
                        </p>

                        <p>
                            {{ post.perex|raw }}
                        </p>

                        <br>

                        <p>
                            <a href="{{ post.url }}" class="btn btn-success">Podívat se na jednotlivé body</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
