---
layout: default
use:
    - posts
---

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>O čem si povídáme?</h3>

                <ul>
                    <li>Kam směřují komunity,</li>
                    <li>jak se vyvíjí open source,</li>
                    <li>kde a co se můžeš naučit,</li>
                    <li>jak vypadá moderní hajrování</li>
                    <li>a nesmí chybět moderní technologie a hosté z odborných oblastí.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Nechceš sem chodit každý měsíc?</h3>
                <p>
                    <a href="/rss.xml">
                        <i class="fa fa-rss fa-fw" aria-hidden="true"></i>
                        Sleduj naše RSS
                    </a>
                </p>
            </div>
        </div>

        <br>
    </div>

    {% for post in data.posts %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>
                            {#<a href="{{ post.url }}">{{ post.title }}</a>#}
                            {{ post.title }}
                        </h2>

                        <p>
                            <em class="fa fa-calendar fa-fw"></em>
                            <time datetime="{{ post.date | date('Y-m-D') }}">{{ post.date | date("j. n. Y") }}</time>
                            |
                            <a href="{{ post.podcast.mp3_url }}">
                                <em class="fa fa-download fa-fw"></em>
                                Stáhnout
                            </a>
                            |
                            <em class="fa fa-deaf fa-fw"></em>
                            {{ post.podcast.mp3_duration }}
                        </p>

                        <p>
                            {{ post.perex|raw }}
                        </p>

                        <br>

                        <p>
                            <a href="{{ post.url }}" class="btn btn-success">
                                Podívat se na jednotlivé body
                                <em class="fa fa-toggle-right fa-fw"></em>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
